<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
	
<head>
<title>Detail Member</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div layout:fragment="content">
	
<div class="w3-container w3-padding w3-round-large w3-margin">
<div class="w3-container w3-padding w3-round-large w3-margin" th:each="member:${memberfromController}">
	<header class="w3-container w3-light-grey">
		<h3 th:text="${member.name} + ' ' + ${member.surname}"></h3>

	</header>
	<div class="w3-container w3-card-4">
		<p>1 new friend request</p>
		<p></p>
		<hr>
		
		<img src="https://shmector.com/_ph/4/209265408.png" alt="Avatar"
			class="w3-third w3-circle w3-margin" style="width:25%">
			
		<p class="w3-two-third w3-margin w3-padding">CEO at Mighty Schools. Marketing and Advertising. Seeking a new
			job and new opportunities. Have worked in several projects and establishements with 7 years experience in marketing</p>
		<ul class="w3-ul w3-round-large  w3-sand w3-padding-24">
		<li th:text="${member.email}"></li>
		<li th:text="${member.password}"></li>
		<li th:text="${member.age}"></li>
		<li th:text="${member.amount}"></li>
		</ul>
		<hr>
		<div class="w3-container w3-center">
			<a th:href="@{deleteMember(id=${member.id})}"
				class="w3-button w3-red w3-center">Delete</a> 
				<a th:href="@{updateMember(id=${member.id})}"
				class="w3-button w3-blue">Update</a>
			
			<hr>
		</div>
	</div>
	<button class="w3-button w3-block w3-dark-grey">+ Connect</button>
</div>

</div>
</div>

</body>
</html>