
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Client Record</title>
</head>

<body>

	<div class="w3-panel w3-padding-32">
		<h1>Ogieva Supermarket</h1>
		<h3>Table Of Registered Clients</h3>

		<table class="w3-table-all">

			<tr class="w3-black w3-hover-teal">

				<td> id</td>
				<td> Name</td>
				<td> Surname </td>
				<td> Address </td>
				<td> Email</td>
				<td> Password</td>
				<td> Age</td>
				<td> Amount</td>
			</tr>

			<tr th:each="member:${memberListfromControllerAndDB}">
				<td th:text="${member.id}"></td>
				<td th:text="${member.name}"></td>
				<td th:text="${member.surname}"></td>
				<td th:text="${member.address}"></td>
				<td th:text="${member.email}"></td>
				<td th:text="${member.password}"></td>
				<td th:text="${member.age}"> </td>
				<td th:text="${member.amount}"> </td>
					<td>
				<a th:href="@{deleteMember(id=${member.id})}"
					class="w3-button w3-red">Delete</a> 
				<a
					th:href="@{detailMember(title=${member.id})}"
					class="w3-button w3-teal">Detail</a> 
				<a
					th:href="@{updateMember(title=${member.id})}"
					class="w3-button w3-blue">Update</a>
				</td>

			</tr>
		</table>
	</div>
</html>