<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
	
	<head>
	<title>Create new member</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
		<style>
		h1 {
  	font-size:5vw;
  	text-align: center;
  	font-weight:bolder;
  	text-shadow:1px 2px 0 #fff;
  	color:black;
 	}

	* {
	box-sizing: border-box;
	}
	#mainbody {
	background-color:lightgrey;
	border-radius:25px;
	}
		</style>
 </head>

<body>

<div layout:fragment="content" >



		<div class="w3-panel"><h1>Register To Be A Client </h1></div>
		
	<div class="w3-container w3-padding w3-round-large w3-margin">
	
		<form action="addMember" class="w3-card-4 w3-container w3-padding w3-round-large w3-margin">

			<p>
				<label class="w3-text-gray"><b>Name</b></label> <input
					class="w3-input w3-border w3-light-grey" name="name" placeholder="john" type="text" required>
			</p>
			<p>
				<label class="w3-text-gray"><b>Surname</b></label> <input
					class="w3-input w3-border w3-light-grey" name="surname" placeholder="smith" type="text">
			</p>

			<p>
				<label class="w3-text-gray"><b>Address</b></label> <input
					class="w3-input w3-border w3-light-grey" name="address" placeholder="Carrer Murcia 72, Barcelona" type="text"  >
			</p>

			<p>
				<label class="w3-text-gray"><b>Email</b></label> <input
					class="w3-input w3-border w3-light-grey" name="email" placeholder="john@smith.com" type="text">
			</p>
			
			<p>
				<label class="w3-text-gray"><b>Password</b></label> <input
					class="w3-input w3-border w3-light-grey" name="password"  placeholder="1234"  type="number" >
			</p>
			
			<p>
				<label class="w3-text-gray"><b>Age</b></label> <input
					class="w3-input w3-border w3-light-grey" name="age"  placeholder="25"  type="number" >
			</p>
			
			<p>
				<label class="w3-text-gray"><b>Total amount of last purchase (if any)</b></label> <input
					class="w3-input w3-border w3-light-grey" name="donation"  placeholder="1000" step="0.01" min="0" type="number" value=0.0>
			</p>

			<p>
				<button class="w3-btn w3-black">Submit form</button>
			</p>
		</form>
</div>
	</div>


</body>
</html>

